@model CheckBoxTest.Models.ItemsIndexVM


@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>

<table>
    @foreach (var item in Model.AllItems)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }
</table>



@using (Html.BeginForm("TakeItems", "Items", new { FormMethod.Post } ))
{



        @*@Html.HiddenFor(model => model.AllItems)*@

        @Html.HiddenFor(m => m.TestWord);

        for (int i = 0; i < Model.AllItems.Count; i++)
        {
            <div class="form-group">
                @Html.HiddenFor(m => m.AllItems[i].Id)
                @Html.HiddenFor(m => m.AllItems[i].Name)
                @Html.HiddenFor(m => m.AllItems[i].Status)
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    
}